.restaurantsDetails{
    background-color: var(--white);
    color: var(--black);
}

.restaurantsDetailsBody{
    padding: 0 0.7rem;
}

.name{
    font-weight: bold;
    font-size:2rem;
    margin: 1rem 0;
    color: var(--orange);
}
.availableMeals {
    width: 100%;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}